In [24]:
s = 'salam'
list(s)

['s', 'a', 'l', 'a', 'm']

print reverse

In [25]:
s = []
n = int(input())
while n != 0:
    s.append(n)
    n = int(input())
s.reverse()
#print(*s)
for i in s:
    print (i)

ValueError: invalid literal for int() with base 10: '1 1'

In [ ]:
names = ['mohammad', 'reza', 'amir']
names.top()

In [ ]:
names = ['mohammad', 'reza', 'amir']
for i, j in enumerate(names):
    print(i,j)

0 mohammad
1 reza
2 amir

In [ ]:
names = ['mohammad', 'reza', 'amir']
for i, it in enumerate(names):
     print("the {0}th object in myList is {1} .".format(i+1, it))

the 1th object in myList is mohammad .
the 2th object in myList is reza .
the 3th object in myList is amir .

In [ ]:
listA = [1, 2, 3, 4]
listB = ['a', 'b', 'c', 'd']
listC = ['I', 'II', 'III', 'IV']
for a, b, c in zip(listA,listB,listC):
  print('the {0}th alphabet or {1} in greece is {2}.'.format(a,c,b))

the 1th alphabet or I in greece is a.
the 2th alphabet or II in greece is b.
the 3th alphabet or III in greece is c.
the 4th alphabet or IV in greece is d.

Betayp!!

In [ ]:
s = input()
outp = []
for ch in s:
    if ch == '=':
        if len(outp) != 0:
            outp.pop()
    else:
        outp.append(ch)
ans = ''
for i in outp:
    ans += i
print(ans)

testtwo

Bomb bazi:

In [67]:
n, m = map(int,input().split())
k = int(input())
matr = []
for x in range(n):
   matr.append([])
   for y in range(m):
     matr[x].append(0)


for o in range(k):
    a, b = map(int,input().split()) # 1 1
    a = a -1
    b = b -1
    matr[a][b] = '*'
    
    for h in range(-1,2):
        for p in range(-1,2):
           if (h != 0 or p != 0)  and ((a+h) in range(0,n) and (b+p) in range(0,m)) and matr[a+h][b+p] != '*':
            matr[a+h][b+p] += 1
for i in range(n):
    for j in range(m):
        print(matr[i][j],end = ' ')
    print()

* 2 *
2 3 2
2 * 3
2 * *

Asone Sakht:

In [69]:
print(*list(map(int, input().split()))[5::6])

6

In [ ]:
l = [2, 3, 5 , 6, 7, 8, 12]
print(*1[4::9])

again Review of Data structure

In [ ]:
a = [2, 3, 4, 5, 6]
type(a)
len(a)
a.index(3)
print(a[2])
a[1] = 8
a

In [ ]:
s = 'python'
s[1] = 'd' # error,immutable

In [11]:
a = [1, 2]
b = [2, 1]
a == b
friend = ['ali', 'ahmad', 'hashem']
for i in range(3):
    print(friend[i])

ali
ahmad
hashem

In [23]:
#lst = [2, 3, 'hashem', True, [3, 4]]

a = [7, 5, 30, 2, 6, 25]
print(a[1:4])
print(a[:3])
print(a[3:])
print(a[3:0])
print(a[::-1])
print(a[::1])
print(a[0:7:2])
print(a[::3])
print(a[6:2:-1])
a[3:5] = [0,99]
print(a)

[5, 30, 2]
[7, 5, 30]
[2, 6, 25]
[]
[25, 6, 2, 30, 5, 7]
[7, 5, 30, 2, 6, 25]
[7, 30, 6]
[7, 2]
[25, 6, 2]
[7, 5, 30, 0, 99, 25]

In [ ]:
a = [2, 3]
b = a * 2
print(a)
c = ['A', 'B']
print(a+b)

In [27]:
MyList = [2, 5, 9, 5, 8]
print(3 not in MyList)

True

In [ ]:
a = [3, [109, 27], 4, 15]
a[1][0]
print(max(a)) #error

In [31]:
a = [3, 7, 4, 15]
max(a)
min(a)
sum(a)

15

In [33]:
a = [2, [2, 27], 4, 15]
a.count(2)

1

In [35]:
a = [3, 8, 4, 15]
a.insert(11, 3)
a

[3, 8, 4, 15, 3]

In [37]:
a.remove(8)
a

[3, 4, 15, 3]

In [42]:
a = [3, 8, 4, 15]
b = a.pop()
print(a,'///', b)

[3, 8, 4] /// ? 15

In [45]:
a = [3, 8, 4, 15]
del(a[2])
del(a[0:2])
a

[15]

In [48]:
a = [3, 8, 4, 15]
a.reverse() #a[::-1]

[15, 4, 8, 3]

In [50]:
a = [3, 8, 4, 15]
a.sort()
a

[3, 4, 8, 15]

In [53]:
x = [1, 2, 3]
y = [4, 5]
#x.extend(y)    #s = x + y
x.append(y)
x

[1, 2, 3, [4, 5]]

In [ ]:
a = [3, 8, 4, 15]
a.clear()
print(a)
print(len(a))
del a
a

In [57]:
a = [3, 8, 4, 15]
b = a.copy()
b

[3, 8, 4, 15]

In [62]:
lst1 = [i**2 for i in range(0, 10) if i % 2 == 0]
lst1

[0, 4, 16, 36, 64]

In [70]:
import math
a = [round(math.pi)]
b = [round(math.pi,5)]
c = [round(math.pi,i) for i in range(1,5)]
print(a)
print(b)
print(c)

[3]
[3.14159]
[3.1, 3.14, 3.142, 3.1416]

In [ ]:
a = [round(math.pi,5)]

In [ ]:
a = ['@sara','saba@']
b = [i.strip('@') for i in a]
b

In [73]:
a = [1, 2]
b = [1, 3, 4]
c = []
for i in a:
    for j in b:
        if i != j:
            c.append((i,j))
            
c

[(1, 3), (1, 4), (2, 1), (2, 3), (2, 4)]

In [76]:
a = [2.6, float('NaN') , 4.8 , 6.9, float('NaN')]
a

[2.6, nan, 4.8, 6.9, nan]

In [ ]:
import math
print(math.isnan('a'))

In [ ]:
# Import math Library
import math

# Check whether some values are NaN(Not a Number) or not
print (math.isnan (56))
print (math.isnan (-45.34))

print (math.isnan (math.inf))
print (math.isnan (float("nan")))
print (math.isnan (float("inf")))
print (math.isnan (float("-inf")))
print (math.isnan (math.nan))

In [98]:
import math
a = [2.6, True, float('NaN') , 4.8 , 6.9, float('NaN')]
b = []
for i in a:
    if not math.isnan(i):
        b.append(i)
    
b

[2.6, True, 4.8, 6.9]

In [126]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in m :
    print(i)
print('"""""""')

for i in m :
    print(i[0])
    
print('""""""')
"""
for i in range(3):
    for j in range(3):
        print(m[i][j],end=' ')
    print()
"""
    

for i in range(3):
    print(m[i][i], end = ' ')
print()   
print('""""""')

for i in range(3):
    print(m[2-i][i],end = ' ')

print('""""""')

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
"""""""
1
4
7
""""""
1 5 9
""""""
7 5 3 """"""

In [130]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for i in range(3):
    print(sum(m[i]),end = ' ')
print()
print('----------')

ans = 0
for i in range(3):   
    for j in range(3):
        ans += m[j][i]
    print(ans, end = ' ')
    ans = 0
    
print()
print('or use this solution')
h = []
for i in range(3):
    h.append(sum(ch[i] for ch in m))
print('h =', h)

a = []
a.extend([sum(i) for i in m])
a

6 15 24
----------
12 15 18
or use this solution
h = [12, 15, 18]

[6, 15, 24]

In [125]:
b = []
for i in (m):
    b.append(sum(i))
b

[6, 15, 24]

In [131]:
x = []
y = x
y.append(2)
print(y)
print(x)

[2] [2]

In [133]:
f = 2
g = f
g += 1
g
f

2

In [139]:
l = [0 for i in range(3)]
l
s = [str(y)+z for y in [1, 3, 4] for z in ['a', 'w','e']]
s

['1a', '1w', '1e', '3a', '3w', '3e', '4a', '4w', '4e']

In [140]:
zeros = [[0 for c in range(4)] for r in range(3)]
zeros

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [162]:
# TODO: Just in one line!
s = [0, 1, 2, 4, 5, 7, 6]
lb= i for i in s)

<generator object <genexpr> at 0x000001FB36317AC0>

In [145]:
print(*list(map(int, input().split()))[5::6])

7

In [153]:
o = [2, 3, 4, 5, 6, 7, 9] 
o[5::6]

[7]

Tuple;data structure

In [6]:
t = (2, 3, 4, 5)
t[0]
t2 = 6, 7, 8
type(t2) # tuple
t = 3,
t
a = 20
b = 30
a, b = b, a
a, b

(30, 20)

compare use of tuple and list here.u see that tuple is suitable than list

In [9]:
lst1 = [1, 2]
def f():
    return lst1
a = f()
print(a)
a[0] = 9
print(a)
print(lst1)

[1, 2]
[9, 2]
[9, 2]

In [14]:
t = (1, 2)
def f():
    return t
a = f()
print(a)
a[0] = 6

(1, 2)

TypeError: 'tuple' object does not support item assignment

In [17]:
a = (9, 3)
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [19]:
s = 'abcd'
s[0] = 's'

TypeError: 'str' object does not support item assignment

Quera_mohasebat chan taeiy:

In [50]:
a = []
def calc(a:list) -> tuple:
   a = list(map(int,input().split())) 
   a = sorted(a)
   max_a = max(a)
   ave_a = (sum(a)/len(a))
   if len(a) % 2 != 0:
       med_a = a[int((len(a) + 1)/2 -1)]
   else:
       med_a = (a[int(len(a)/2 -1)] + (a[int(len(a)/2)]))/2
   ans = (ave_a, med_a, max_a)
   return ans
calc(a)

(4.0, 4, 7)

In [43]:
a = []
a.append(map(int,input().split()))
print(list(a))

[<map object at 0x00000216DB5FCC10>]

set,{}, an Review

In [68]:
n = {1, 2, 3, 4}
n.add(0)
n
n.remove(0)
n
n.discard(9) #remove here has error
m = {4, 5, 6}
n - m
n & m
n | m
n.union(m)
n.intersection(m)
m - n
m.difference(n)
n ^ m
n.symmetric_difference(m)

{1, 2, 3, 5, 6}

In [71]:
s1 = set('salam')
s2 = set('balam')
s3 = {x for x in s1 if x not in s2}
s3

{'s'}

Review of Dictionary,  {key/:value}

In [ ]:
d = dict()
type(d)
d = {'baran':1, 'sara': 2}
d[1]

In [ ]:
d = {
    'brand':'toyota',
    'model': 'vxr',
    'color': 'red'
}
len(d)

# see that
d = dict(brand = 'toyota', model = 'vxr', color = 'red')
d['brand']
d['year'] = 2022
d
x = d.get('model')
x
y = d.get('cylendar')  # none
y
k = list(d.keys())
k
v = list(d.values())
v
itms = list(d.items())
itms
for k, v in d.items():
    print(k,':',v)
d.pop('model')
d
d.popitem()
d
d.clear()
d  # {}
del d
d    # not define

In [102]:
a = ['x', 'y', 'x', 'z','x']
d = {}
for i in a:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
d

{'x': 3, 'y': 1, 'z': 1}

OR:

In [107]:
d = {}
for i in a:
    d[i] = d.get(i,0) + 1
d
d2 = d.copy()
d2

{'x': 3, 'y': 1, 'z': 1}

In [110]:
s = 'acaeann'
d = {}
for i in s:
   d[i] = d.get(i,0) + 1
d

{'a': 3, 'c': 1, 'e': 1, 'n': 2}

In [116]:
line = 'a dictionary is a datastructure.'
l = line.split()
l
d = {}
for i in l:
    d[i] = d.get(i,0) + 1
s = sum(d.values())
# or
s = 0
for i in d:
    s += d[i]

5

operator lib

In [118]:
import operator
# sort 

d = {'a': 4, 'b': 2, 'f': 1, 'd': 1, 'c': 1}
k = operator.itemgetter(1)
print(sorted(d.items(),key = k))
# [('f', 1), ('d', 1), ('c', 1), ('b', 2), ('a', 4)]
k = operator.itemgetter(0)
print(sorted(d.items(),key = k))
# [('a', 4), ('b', 2), ('c', 1), ('d', 1), ('f', 1)]

[('f', 1), ('d', 1), ('c', 1), ('b', 2), ('a', 4)]
[('a', 4), ('b', 2), ('c', 1), ('d', 1), ('f', 1)]

In [121]:
d1 = {'x' : 3 , 'y': 2 , 'z':1}
d2 = {'w' : 8 , 't': 7 }
d = {**d1, **d2}
d

{'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 7}

In [125]:
name = ['sara', 'baran']
point = [19, 20]
z = zip(name, point)
d = dict(lz)
d

{'sara': 19, 'baran': 20}

In [3]:

d = {'a': 0, 'b': 2, 'f': 1, 'd': 1, 'a': 1}
d

{'a': 1, 'b': 2, 'f': 1, 'd': 1}

Karmandan ziadey:

In [27]:
d = {}
n = int(input())
for i in range(n):
    first_n, last_n = map(str,input().split())
    x = d.get(first_n,-1)
    if x == -1:
        d[first_n] = 1
    else:
        d[first_n] += 1
print(d)
print(max(d.values()))

{'baran': 2, 'sara': 1}
2

In [29]:
names = dict()
n = int(input())
for i in range(n):
    first, family = input().split()
    names[first ] = names.get(first, 0) + 1
print(names)

{'baran': 2, 'sara': 1}

In [ ]:
s = [1, 2, 3, 4]
print(*s)
d = {'a': 1, 'b':2}
print(*d)

In [9]:
def mean(*nums):
    return sum(nums)/ len(nums)
numbers = [1, 2, 3, 4, 5]
mean(*numbers)

3.0

In [11]:
def people(**person):
    for k, v in person.items():
        print(f'{k} is a {v}')
p = {'kara':'teacher', 'nima': 'driver'}
people(**p)

kara is a teacher
nima is a driver

Lambda Function:

In [4]:
poer = lambda x: x**2
poer(4)

4

In [6]:
(lambda x: x * x)(3)

9

In [11]:
statics = lambda a, b: (a*b)
print(statics(2, 3))
lam2 = lambda a, b : [(a+b)/2, max(a, b)]
lam2(20, 18)

6

[19.0, 20]

In [13]:
def my_func(n):
    return lambda x: x * n
trip = my_func(2)
print(trip(6))

12

In [4]:
import math
math.floor(4.1)

4

In [21]:
s = '321'
s.isdigit() is not True

True

again review of data structure

Dict, {}

In [ ]:
d = { 'brand':'Nissan',
      'model': 'maxima',
      'color': 'red',
      'year': 2020
    }
type(d)
len(d)
# od: d = dict(brand = 'Nissan', model = '....',...)
d['year']
d.get('color')
x = d.get('year')
x
y = d.get('door') #none
y = d.get('door', -1)
y
d.values()
d.keys()
k = list(d.items())
for k,v in d.items():
    print(k,':',v)
d.pop('model')
d.append('model':'maxima')

In [50]:
a = ['x', 'y', 'x', 'z', 'y', 'x']
d1 = {}
for i in a:
    d1[i] = d1.get(i,0) + 1
    
print(d1)

{'x': 3, 'y': 2, 'z': 1}

In [52]:
d
d.popitem()
d

{'brand': 'Nissan', 'color': 'red'}

In [55]:
s = ' a programming lang is python'
d = {}
d = s.split()
d

['a', 'programming', 'lang', 'is', 'python']

In [1]:
s = {1, 2, 3, 4, 1, 6, 9, 8}
s

{1, 2, 3, 4, 6, 8, 9}

In [2]:
a = s

In [10]:
a
b = {'s','a', 1}
c = a.union(b)
b

{1, 'a', 's'}

In [13]:
k = a.intersection(b)
h = a.difference(b)
print(a)
print(b)
print(k)
print(h)
print(b.difference(a))

{1, 2, 3, 4, 6, 8, 9}
{1, 'a', 's'}
{1}
{2, 3, 4, 6, 8, 9}
{'a', 's'}

In [18]:
def f(l):
    for i in l:
        if i == 5:
            return 'stop'
    return l
l = [1, 2, 3, 4, 5]
f(l)

'stop'

In [21]:
a = 1 + 2j
type(a)

complex

In [29]:
import keyword as kw
kw.iskeyword('and')

False

In [32]:
8 ** 2
8 ** 0
0 ** 0

1

In [38]:
1>>2

0

In [45]:
n = 2.123654
print('%.2f'%n)
s = 'abcde'
s.find('l')
s.index('a')

2.12

0

In [62]:
a = [2, 6, 7, 3]
print(a[4:0:-2])
min(a)
max(a)
sum(a)
a.count(2)

[3, 6]

1

In [63]:
b = ['a', 'b']
a.append(b)
a

[2, 6, 7, 3, ['a', 'b']]

In [65]:
a = [2, 6, 7, 3]
b = ['a', 'b']
a.extend(b)
a

[2, 6, 7, 3, 'a', 'b']

In [69]:
s = 'Python is a best lang.'
new_s = s.split(' ')
new_s

['Python is a best lang.']

In [73]:
isinstance(s, str)

True

In [78]:
import operator
d = {'brand':3, 'model': 2, 'year': 2020}
#operator.itemgetter(1)
x = 2
y = 3
operator.add(x, y)

5

In [79]:
d1 = {'brand':'BMW', 'model': 730, 'year': 2020}
d2 = {'color:':'red'}
d = {**d1, **d2}
d

{'brand': 'BMW', 'model': 730, 'year': 2020, 'color:': 'red'}

In [99]:
name = 'Ava'
age = 7
heigh = 1.2132 # also use {name =}
print(f'My name is {name}. I am {age} years old. My heigh is {heigh} m.')
print(f'My name is %s. I am %d years old. My heigh is %.2f m.' %(name, age, heigh))

My name is name='Ava'. I am 7 years old. My heigh is 1.2132 m.
My name is Ava. I am 7 years old. My heigh is 1.21 m.

In [90]:
name = ['Ziba', 'Baran', 'Ava']
name.sort()
name

['Ava', 'Baran', 'Ziba']

In [94]:
12 * 2
k = 'ans'
d = 9
# _ last data that printed return:
_

24

In [95]:
int(2.36)

2

In [98]:
def f():
  pass
print(9)

9

In [4]:
greating = 'Hello %s!'
name = input('plz inter ur name:\n')
print(greating % name)

Hello asa!

In [6]:
greating = 'Hello %s with %d years old'
name = input()
age = int(input())
print(greating % (name,age))

Hello anahita with 12 years old

In [7]:
greating = "Hello {} with {} years old."
name = input()
age = int(input())
print(greating.format(name,age))

Hello ava with 22 years old.

In [16]:
a = '09126982466'
a.startswith('09')

True

In [17]:
a.isdigit()

True

Lambda:

In [20]:
k = (lambda x : x * 2 )(4)
k

8

In [21]:
lam1 = lambda x, y : x + y
lam1(x = 2, y = 8)

10