In [1]:
n = float(input())
print(n)
print(type(n))

2.0
<class 'float'>

In [4]:
n = int(input())
if n > 20 :
    print ('ha')
elif n > 10:
    print('hoo')
elif n > 0 :
    print ('hi')
else:
    print('mines dig')

ha

In [7]:
s = [
    ['a', 'b', 'c'],
    [1, 2, 3],
    ['A', 'B', 'C']
]
for ch1 in s:
    for ch2 in ch1:
        print(ch2, end = ' ')

a b c 1 2 3 A B C

In [13]:
words = ['salam', 'khobi', 'na']
for i in range(0, len(words), 2):
    print('@@@', words[i])

@@@ salam
@@@ na

jadwal zarb:

In [ ]:
n = int(input())
for i in range(1, n+1):
    for j in range(1, n+1):
        print(i * j, end = ' ')
    print()

In [16]:
def combo(k):
    import math # or : from math import factorial as f
    print(math.factorial(k))
combo(k = 4)

24

In [61]:
import math
math.gcd(4, 24)
math.fabs(-4)
math.factorial(8)
math.pow(2,8)
m = math.log(8)
print('%.3f' % m)
math.log(16,2)
n = math.sqrt(23)
print('%.3f' %n)
math.pi
print('sin: ',math.sin(3))
math.radians(57)
math.floor(3.9)

2.079
4.796
sin:  0.1411200080598672

3

In [56]:
import math

# Convert from radians to degrees:
print (math.degrees(3.14159/2))
print (math.degrees(-20))
print (math.degrees(1))
print (math.degrees(90))

89.99992398025215
-1145.9155902616465
57.29577951308232
5156.620156177409

In [67]:
from datetime import datetime
t = datetime(2023, 5, 14, 14, 22, 33)
print(t)

2023-05-14 14:22:33

In [66]:
datetime.now()

datetime.datetime(2023, 7, 6, 10, 59, 45, 799406)

In [73]:
date = datetime.strptime('2023-08-17', '%Y-%m-%d')
print(date.year)
print(date.month)
print(date.day)

2023
8
17

In [81]:
s = 'konchengchonka'
s.removeprefix('konch')
s.removesuffix('ka')

'konchengchon'

In [85]:
age = 3
height = 110
isFemale = True
print(f'Age of my duaghter is {age} years, and her hieght is {height}cm and gender is {isFemale}.')

Age of my duaghter is 3 years, and her hieght is 110cm and gender is True.

In [86]:
var = 2
f'{var = }'

'var = 2'

In [88]:
greeting = "Hello %s!"
name = input("Please enter your name:\n")
print(greeting % name)

Hello kl!

In [92]:
greeting = "Hello %s with %d years old!"
name = input('input name:\n')
age = 12
print(greeting % (name,age))

Hello kami with 12 years old!

In [94]:
import re
text1 = 'Python is a object oriented lang.Python is so nice to learn.'
re.findall('th', text1)

['th', 'th']

In [107]:
x = re.search('e[a-z]', 'abced e abcd')
x.string
x.span()
x.group()
re.findall('ef', 'i have to efoort ef ')
re.split('a', s)

['ef', 'ef']

In [111]:
re.split('[0-9]+','you92398can820split729with26numbers')

['you', 'can', 'split', 'with', 'numbers']

In [118]:
re.split('[a-z]+','2093ab20a120dk')

['2093', '20', '120', '']

In [120]:
s = 'sadf'
re.sub('a', '9', s)

's9df'

In [ ]:
import re

def validate_email(email):
    return bool(re.match(r"[a-zA-Z0-9\.\_] + @[a-zA") , email)