In [3]:
def hello(n, age, t):
    print(n)
    print ('Hello World', n)
    
    kids_age = age + 1
    print(kids_age)
    
    
    # take topic and and then pritn ti
    new_var = "name : " + n + ' ' + t
    print(new_var)

name = 'Baran'
topic = "birthday"
age = 3
hello(name, age, topic)

Baran
Hello World Baran
4
name : Baran birthday

In [8]:
def hello2():
    return 'Hello World 2'
hello2()

'Hello World 2'

In [10]:
s = hello2()
print (s)

Hello World 2

In [12]:
def hello3(p):
    print(p)
s = 'Helow world'
hello3(s)

Helow world

In [13]:
def add2num(a,b):
    return a+b
add2num(3,4)

7

In [15]:
def f(a):
    a *= 2
    print (a)
    return a + 1
f(3)

6

7

In [16]:
b = 5
r = f(b)
print (r)

10
11

In [25]:
def f(a,b):
    if a > b:
        return a
    return b
f(3,2)

3

In [28]:
def g(x,y,z):
    return f(x,f(y,z))
g(2,3,4)

4

In [35]:
pi = 3.14
def area(r):
    return pi * r * r
def circum(r):
    return 2 * r * pi
def main():
    r = 4
    print (circum(r))
    print (area(r))
main()

25.12
50.24

In [47]:
x = 5
def f():
    global x
    print (x)
    x = 8
    print (x)
f()
print (x)

5
8
8

In [52]:
def f(x, y):
    x -= 1
    y += 1
    return x , y
a = 3
y = 4
m , n = f(a,b)
print (m,'  ', n)

2    6

In [54]:
def f(a):
    a[0] -= 1
    a[1] += 1
    print (a[0])
    print(a[1])
a = [2,3]
f(a)

1
4

In [55]:
def f (d):
    d['a'] -= 1
    d['b'] += 1
    print (d)
d = {'a': 2, 'b': 3}
f(d)

{'a': 1, 'b': 4}

In [1]:
def f(a,b):
    print (a,b)
f(a=1, b=2)

1 2

In [5]:
def f(*t):
    s = 0
    for i in t:
        s +=i
    print(s)
f(3,4,5)

12

In [7]:
def add(a,b, *more):
    r = a + b + sum(more)
    print(r)
add(3,5,1,2)

11

In [11]:
def concat(*n, sep='.'):
        return sep.join(n)
concat('sara', 'ahmadi')
concat('saman', 'sadeqi', sep='/')

'saman/sadeqi'

In [13]:
count = {
    'L': 0,
     'U': 0
}
def f(s):
    for ch in s:
        if ch.islower():
            count['L'] += 1
        else:
            count['U'] += 1
    print (count)
f('BaRanBAGHERI')

{'L': 3, 'U': 9}

## Dictionary

In [16]:

def f(s):
    d = {}
    for i in s:
       if i in d.keys():  
            d[i] += 1
       else:
            d[i] = 1
    print(d)
f('dada')

{'d': 2, 'a': 2}

In [18]:
def f(s):
    d = {}
    word = s.split()
    for ch in word:
        if ch in d:
            d[ch] += 1
        else:
            d[ch] = 1
    print(d)
s = 'Python is good lang.'
f(s)

{'Python': 1, 'is': 1, 'good': 1, 'lang.': 1}

In [23]:
def switch(a):
    d = {1:'one', 2:'tow'}
    return d.get(a,'nothing')
switch(2)

'tow'

In [25]:
lst = [
    {'id': 1, 'm':70, 'f': 80},
    { 'id': 2, 'm': 55, 'f':60}
]
def f(lst):
    for i in lst:
        n1 = i.pop('m')
        n2 = i.pop('f')
        i['ave'] = (n1+n2)/2
    return lst
f(lst)

[{'id': 1, 'ave': 75.0}, {'id': 2, 'ave': 57.5}]

In [27]:
def f(s):
     r = ''.join(reversed(s))
     return r
f('abcd')

'dcba'

In [33]:
def palindrome(s):
    return s == s[::-1]
palindrome('damad')

True

In [34]:
def f(lst):
    r = []
    for i in lst:
        if i not in r:
            r.append(i)
    return r
f([1,2,3,4,1,2])

[1, 2, 3, 4]

In [36]:
def f(n):
    m = [1]
    for i in range (2,n +1):
        if n % i == 0:
            m.append(i)
    return m
f(10)

[1, 2, 5, 10]

In [41]:
'a_r'.isidentifier()

True

In [48]:
from keyword import iskeyword
iskeyword('dif')

False

In [55]:
import math

math.trunc(4.5)
math.factorial(6)

720

In [57]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 2, 8, 14, 13, 13, 184361)

In [58]:
n = 22
if n > 10:
    print('pass')
elif n <= 10:
    print ('fail')

pass

In [62]:
g = [12, 7, 18, 19]
l = [ i for i in g if i >= 10]
print (l)

[12, 18, 19]

In [2]:
f = lambda x , y :(x+y, x-y)
print (f(3,4))

(7, -1)

In [7]:
lst = ['BARAN', 'KEFAYAT']
def f(lst):
    a =[]
    for i in lst:
        a.append(i.lower())
    print(a)
f(lst)

['baran', 'kefayat']

In [8]:
print(list(map(str.lower,lst)))

['baran', 'kefayat']

In [9]:
d = {'ali': 12, 'sara': 17, 'taha': 6}
print (sorted(d.items() , key = lambda x: x[1]))

[('taha', 6), ('ali', 12), ('sara', 17)]

In [12]:
class Circle:
    def __init__(self,r):
        self.r = r
    def area(self):
        return self.r ** 2 * 3.14
obj1 = Circle(5)
s = obj1.area()
print(s)

78.5

## OOP test 1
- TODO add docs

In [21]:
class Count:
    def __init__(self, a):
        self.a = a 
    def up(self):
        self.a += 1
    def down(self):
        self.a -= 1
obj1 = Count(2)
obj1.down()
print(obj1.a)

1

In [23]:
class C:
    def __init__(self):
        self.s = ''
    def get(self):
        self.s = input('input')
    def show(self):
        print(self.s.upper())
obj1 = C()
obj1.get()
obj1.show()

ALI

In [24]:
class Complex :
    def __init__(self,r ,i ):
        self.r = r
        self.i = i
x = Complex(2,4)
print(x.r)

2

In [27]:
class Email:
    def f(self):
        self.sent = False
    def g(self):
        self.sent = True
obj1 = Email()
obj1.g()
print(obj1.sent)

True

In [29]:
# INHERITANCE
class Person:
    def __init__(self,name):
        self.name = name
    def show(self):
        print('name:', self.name)
class Student(Person):
    def __init__(self,name, score):
        Person.__init__(self,name)
        self.score = score
    def welcome(self):
        print('welcome:' , self.name)
stu1 = Student('Baran', 19)
stu1.welcome()
stu1.show()

welcome: Baran
name: Baran

In [ ]:
# Parent class

class Person:
    def __init__(self,name, id):
        self.name = name
        self.id = id 
    def display(self):
        print(self.name)
        
obj1 = Person('ahmad', 123)

In [5]:
n , x = input().split() # x = L, M, R
ans = x
n = int(n)
for i in range(n):
    r1, r2 = input().split()
    if r1 ==  ans:
        ans = r2
    elif r2 == ans:
        ans = r1
    
print(ans)
'''
3 M

L M
R L
M L
'''

R

'\n3 M\n\nL M\nR L\nM L\n'

In [2]:
v = 12
f'age of my doughter is: {v}'

'age of my doughter is: 12'

In [5]:
age = 12
height = 1.55
f'son is {age} years old. His hight is {height} cm'

'son is 12 years old. His hight is 1.55 cm'

In [8]:
age = 11
f'{age = }'

'age = 11'

In [9]:
greeting = 'Hello %s'
name = "Baran"
print(greeting % name)

Hello Baran

In [12]:
g = 'Hello %s'
name = input('Plz enter name:\n')
print(g % name)

Hello d

In [13]:
g = 'Hello %s with %d years old'
name = input('enter the name:\n')
age = int(input('enter age:\n'))
print(g % (name,age))

Hello aser with 22 years old

In [16]:
greeting = ' Hello dear {} with {} years old!'
name = "Baran"
age = 2.5
print(greeting.format(name,age))

 Hello dear Baran with 2.5 years old!

In [17]:
'{:b}'.format(2)

'10'

In [25]:
n = int(input())
m = '{:b}'.format(n)
c = 0
for i in m:
    if i == '1':
        c += 1
print(m)
print(c)

1100011
4

In [34]:
print('{:b}'.format(int(input())).count('1'))

5

In [33]:
'{:b}'.format(220)

'11011100'

In [42]:
a = bin(220)
type(a)

str

In [43]:
mobile_number = input()
if len(mobile_number) == 11 and mobile_number.startswith('09') and mobile_number.isdigit(): 
    print('✅Valid mobile number')
else:
    print('❌Invalid mobile number')

✅Valid mobile number

In [45]:
a = '09126982466'
a.isdigit()

True

In [48]:
a.startswith('09')

True

In [50]:
import re
a = 'Python is a object oriented lang.python is a nice lan!'
re.findall('th', a)

['th', 'th']

In [52]:
re.findall("e[a-z]", "regex college")
#['eg', 'ex', 'eg']
#re.findall("python", "regex college")

['eg', 'ex', 'eg']

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
#Hi again guys. It is Ramin, now in Gerash
print('Hello word')
a = 2
b = 3
print(a+b)

Hello word
5