Here we see some exercise on lists class

In [3]:
a = [2, 3, 4]
print(type(a))
len(a)

<class 'list'>

3

In [6]:
a= [2, 3, 4, 5]
a.index(3)

1

In [8]:
print(a[1])
a[1] = 8
print(a)

3
[2, 8, 4, 5]

In [10]:
s = 'Baran'
s[1] = 'd'

TypeError: 'str' object does not support item assignment

In [11]:
a = [1, 2]
b = [3, 4]
print(a == b)

False

In [12]:
friends = ['ali', 'sara', 'taha']
for i in friends :
    print (i)
    
'''
for i in range (3):
  print(friends[i])

'''

ali
sara
taha

In [17]:
a = [2, 4, 44, 5, True, 3.4, [3, 4]]
print(a[4])
print(a[1:4])
print(a[:3])
print(a[3:])
print(a[3:0])
print(a[::-1])
print(a[2:6:2])
print(a[6:0:-1])

True
[4, 44, 5]
[2, 4, 44]
[5, True, 3.4, [3, 4]]
[]
[[3, 4], 3.4, True, 5, 44, 4, 2]
[44, True]
[[3, 4], 3.4, True, 5, 44, 4]

In [18]:
a = [2, 4, 44, 5, True, 3.4, [3, 4]]
a[3:5]= [14, 15]
print(a)

[2, 4, 44, 14, 15, 3.4, [3, 4]]

In [19]:
a = [2, 3]
a * 2

[2, 3, 2, 3]

In [21]:
b = ['a', 'b', 4]
c = a + b
print(c)

[2, 3, 'a', 'b', 4]

In [23]:
a = [2, 3]
print(2 in a)

True

In [24]:
a = [2, 3, 55, 6, 7.8]
m = 0
for i in a :
    if i > m:
        m = i 
print(m)

55

In [28]:
a = [2, 3, 55, 6, 7.8]
max(a)

55

In [29]:
min(a)

2

In [30]:
sum(a)

73.8

In [33]:
b = [3, 5, 6, 7, 5, 8, 0, 5]
b.count(5)

3

In [34]:
b.insert(2,11)
print(b)

[3, 5, 11, 6, 7, 5, 8, 0, 5]

In [37]:
b.remove(0)
print(b)

[3, 5, 6, 7, 5, 8, 5]

In [40]:
b = [3, 5, 6, 7, 5, 8, 0, 5]
c = b.pop()
f = b.pop(3)
print(b)
print(c)
print(f)

[3, 5, 6, 5, 8, 0]
5
7

In [41]:
b = [3, 5, 6, 7, 5, 8, 0, 5]
b.pop()
f = b.pop(3)
print(b)
print(f)

[3, 5, 6, 5, 8, 0]
7

In [43]:
a = [3, 4, 1, 5]
del a[2]
a

[3, 4, 5]

In [44]:
del a[0:2]
a

[5]

In [47]:
a = [2, 4, 5, 8]
b = [4, 8, 0]
a.reverse()
print(a)
print(b[::-1])

[8, 5, 4, 2]
[0, 8, 4]

Sort_list:

In [48]:
a = [1, 4, 5, 0, 2, 9]
a.sort()
a

[0, 1, 2, 4, 5, 9]

In [52]:
a = [2, 3, 4]
b = [5, 6]
a.append(b)
 #a.extend(b) ....> a = [2, 3, 4, 5, 6]
a

[2, 3, 4, [5, 6]]

In [53]:
a = [1, 2]
a.append(4)
a

[1, 2, 4]

In [55]:
a.clear()
a

[]

In [56]:
len(a) # a = []

0

In [57]:
a = [2, 3]
b = a.copy()
b

[2, 3]

In [60]:
a = [ i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [63]:
c = [i ** 2 for i in range(4)]
c

[0, 1, 4, 9]

In [64]:
a = [2, -3]
b = [abs(i) for i in a]
b

[2, 3]

In [66]:
import math
a = [round(math.pi,i) for i in range(1,5)]
a

[3.1, 3.14, 3.142, 3.1416]

In [67]:
a = [11, 8, 14, 20 , 2]
b = [i for i in a if i <10]
b

[8, 2]

In [68]:
a = [1, 2]
b = [1,3,6]
c = list()
for i in a:
    for j in b:
        if i != j:
            c.append((i,j))
c

[(1, 3), (1, 6), (2, 1), (2, 3), (2, 6)]

In [69]:
a = float
a

nan

In [76]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in m :
    print (i[0],end =' ')
print()
print(m[1][2])

1 4 7
6

In [80]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for i in range(0,3):
    print(m[i][i],end=' ')
    
print()

for i in range(0,3):
    print(m[i][2-i],end=' ')

1 5 9
3 5 7

In [91]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
a = []
b = []
a.extend([sum(i) for i in m])
print('sum of rows: a =', a)

for col in range(3):
    b.append(sum(i[col] for i in m))
print('sum of colms: b =', b)

sum of rows: a = [6, 15, 24]
sum of colms: b = [12, 15, 18]

In [96]:
x = [1]
y = []
y = x.copy()
y.append(2)
print(y)
print(x) # ??? why 2

[1, 2]
[1]

In [1]:
array = [int(x) for x in input().split()]
print(array)
# or

[1, 2, 3, 4, 5]

In [3]:
a = list(map(int,input().split()))
a

[1, 2, 0, 3]

In [4]:
a = []
n = input().split()
for i in range(len(n)):
    a.append(int(n[i]))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a = [int(i) for i in input().split()]
print(*a)

1 2 3

In [ ]:
a = []
for i in range(101):
    a.append(i)
a

In [10]:
a = [0] * 100
for i in range(100):
    a[i] = i + 1
print(*a)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [15]:
#a = list(map(int,input().split()))
s1 = list(input())
s2 = list(input())
e = 0
for i in range(3):
    if s1[i] == s2[i]:
        e += 1
print(s1)
print(s2)
print(e)

['1', '2', '3']
['1', '4', '5']
1

In [17]:
a = [2, 3, 4, 4]
a.count(4)

2

In [19]:
s = input()
q = input()

for i in range(len(s)-1):
    flag = True
    for j in range(len(q)-1):
        if i + j <= len(s):
            if s[i+j] != q[j]:
                flage = False
        else:
            flage= False
    if flage is True:
        print(i+1)

In [1]:
n, x, y = map(int, input().split())
k = list()
for i in range(n):
    for j in range(n):
      if i * x + j * y == n:
         k.append((i,j))
if k == []:
  print('-1')
else:
  print(*k[0])

2 2