**Review from Quera**

In [2]:
my_list = [1] * 5
my_list

[1, 1, 1, 1, 1]

In [3]:
my_list = [10, 20, 30]
my_list[:]

[10, 20, 30]

In [6]:
my_list[0:2]

[10, 20]

In [7]:
my_list[1:0]

[]

In [8]:
num = [10, 20, 30]
num[1] = 0
num

[10, 0, 30]

In [9]:
num[1:3] = [1, 2]
num

[10, 1, 2]

In [10]:
s = 'salam'
list(s)

['s', 'a', 'l', 'a', 'm']

**list Comprehention**

In [13]:
s = [x for x in range(0,10)]
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
s = [0 for i in range(10)]
s

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [3]:
lst = [[0 for i in range(3)] for j in range(3)]
lst

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [18]:
s1 = [1, 2]
s2 = ['a', 'b']
list1 = [ str(x) + y for x in s1 for y in s2]
list1

['1a', '1b', '2a', '2b']

In [19]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = [(x,y) for x in list1 for y in list2 if x != y]
list3

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

**array m X n and lists**

In [28]:
matrix = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]
for i in range(3):
    for j in range(3):
        print(matrix[i][j], end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
del matrix[0]
del matrix[0:2]
del matrix
matrix

In [12]:
list1 = [10]
list1.append(12)
list1.append(13)
list1

[10, 12, 13]

In [33]:
ls = [0, 1, 2, 3, 4]
print(*ls)

0 1 2 3 4

In [13]:
list1.extend([14, 15, 16])
list1

[10, 12, 13, 14, 15, 16]

In [14]:
list1.insert(1,0)
list1

[10, 0, 12, 13, 14, 15, 16]

In [16]:
l = [1, 2, 3]
l.remove(1)
l

[2, 3]

In [18]:
l = [1, 2, 3, 4, 1]
l.remove(1)    # delete only first 1
l

[2, 3, 4, 1]

In [ ]:
l.remove(12)   # error, 12 not in list l

In [23]:
l = [10, 20, 30, 40]
l.pop()
l
l.pop(1)

20

In [24]:
l.clear()
l

[]

In [26]:
myList = ["amir", "ali", "amir", "ali"]
myList.index('ali')

1

In [ ]:
myList.index('ali', 0, 2) # from 0 to 2, search ali

In [27]:
myList = ["amir", "ali", "amir", "ali"]
myList.count('ali')

2

**sorting**

In [29]:
companies = ['apple', 'samsung', 'xiaomi', 'sony', 'nokia']
companies.sort()
companies

['apple', 'nokia', 'samsung', 'sony', 'xiaomi']

In [20]:
l = [2, 3, 5, 1, 0]
l.sort()
l

[0, 1, 2, 3, 5]

In [44]:
nums = [1, 2, 3, 4]
nums.reverse()
nums

[4, 3, 2, 1]

**join func**

In [34]:
names = ['Alla', 'Taghikhan', 'Moghtaderi']
ch = ' '
ch.join(names)

'Alla Taghikhan Moghtaderi'

In [35]:
names.copy()

['Alla', 'Taghikhan', 'Moghtaderi']

**Queiz: chap bar aks**

In [ ]:
numbers = []
num = int(input())
while num != 0:
    numbers.append(num)
    num = int(input())
numbers.reverse()
for i in numbers:
    print (i)

**Queue and stack**

**diffrent between append and extend method on lists**

In [8]:
a = [1, 2, 3, 4]
b = [5, 6, 7]
a.extend(b)    
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [9]:
a = [1, 2, 3, 4]
b = [5, 6, 7]
a.append(b)    
print(a)

[1, 2, 3, 4, [5, 6, 7]]

**non,NaN, not a number means.**

In [10]:
a = [2.6, float('nan')]
a

[2.6, nan]

In [11]:
# Import math Library
import math 

# Print the value of nan
print (math.nan)

nan

In [28]:
l = [1, 2, 3, 4, 5, 6, 7]
isinstance(l,list)

True

In [29]:
l[::]
l[::3]

[1, 4, 7]

In [18]:
s = 'Python3'
s.isalnum()

True

In [23]:
name = 'Ava'
age = 8
height = 1.201
print(' %s is a daughter with %d years old and %.2f m.'%(name, age, height))
print(f' {name} is a daughter with {age} years old and {height} m.')

 Ava is a daughter with 8 years old and 1.20 m.
 Ava is a daughter with 8 years old and 1.201 m.

**enumurate: index and value**
for i , t in enumerate(my_list):

In [ ]:
my_list = ['Ava', 'Baran', 'sara', 3 ]
s = 'the {0}th object in my_list is {1}'
for i , t in enumerate(my_list):
    print(s.format(i+1, t))

**zip function**

In [ ]:
listA = [1, 2, 3, 4]
listB = ['a', 'b', 'c', 'd']
listC = ['I', 'II', 'III']
s = 'the {0}th alpha or {1} in greek is {2} '
for a, b, c in zip(listA, listB, listC):
    print(s.format(a, c, b))

**sorted**

first, see:

In [12]:
l = [1, 3, 2, 7, 5]
l.sort()
l

[1, 2, 3, 5, 7]

In [9]:
l = [1, 3, 2, 7, 5]
l2 = sorted(l)
l2

[1, 2, 3, 5, 7]

**reversed()**

The reversed() function in Python is used to reverse a sequence, such as a **list, string, or tuple**, by creating a reverse iterator of the given sequence.

In [25]:
ls = ['a', 'bcd', 'salam', 'hello']
l2 = reversed(ls)
l2

The list2put < 0x1d6feb4e2f0> that you see when printing the l2 object is the representation of a reverse iterator object in Python. This representation includes the **memory address of the object**, which can vary each time you run the code.
When you call the reversed() function on a list, it returns a reverse iterator object that allows you to iterate over the list in reverse order. This object does not store the reversed list in memory but instead generates the reversed elements on the fly as you iterate over it.
**To get the actual reversed list, you can convert the reverse iterator object to a list using the list() function**

In [18]:
ls = ['a', 'bcd', 'salam', 'hello']
l2 = list(reversed(ls))
l2

['hello', 'salam', 'bcd', 'a']

In [19]:
ls = ['a', 'bcd', 'salam', 'hello']
reversed(ls)
for i in reversed(ls):
    print(i, end=' ')

hello salam bcd a

**filter func:**

The filter() function in Python is a built-in function that allows you to process an iterable and extract the items that satisfy a given condition. This process is commonly known as a filtering operation. With filter(), you can apply a filtering function to an iterable and produce a new iterable with the items that satisfy the condition at hand.
filter(function, iterable):
function: A function that tests if each element of the iterable is true or not.
iterable: The sequence that needs to be filtered, it can be a list, tuple, set, or any other iterable object.
The filter() function returns an iterator that is already filtered. You can easily convert this iterator to a list, tuple, or any other sequence
Here's an example of using the filter() function to filter list2 even numbers from a list:

In [26]:
# Function that checks if  numbers of a list is even

def check_even(numbers):
    if numbers % 2 == 0:
        return True
    else:
        return False

# List of numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers
new_list = filter(check_even, my_list)

# Convert the iterator to a list
even_numbers = list(new_list)

print(even_numbers)
# Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

**map function**

In [4]:
number = map(int, input().split())
# 1 2 3 4 5
print(list(number))
print(sum(number))
# 15

[1, 2, 3]
0

**???     ????:**

In [2]:

def f(x):
    return int(x)
ls = [2, '4', False, 3.14]
map(f, ls)
for x in map(f, ls):
    print(x, end=' ')
print()
for x in map(int, ls):

  print(x, end=' ')

2 4 0 3
2 4 0 3

**betaip,Queiz**

In [ ]:
s = input()
list2 = []
for ch in s:
    if ch == '=':
        if len(list2) != 0:
            list2.pop()
    else:
        list2.append(ch)
ans = ''
for i in list2:
    ans += i
print(ans)

sol 2, 3:

In [ ]:
def correct_typing(s):
    stack = []
    result = ''
    
    for char in s:
        if char == '=' and len(stack) > 0:
           stack.pop()
        elif char != '=':
            stack.append(char)

    for i in stack:
        result += i
    return result


input_str = input().strip()
output_str = correct_typing(input_str)
print(output_str)

In [ ]:
string = list(input())
resultList=[]

for i in string:
    if i == '=' and len(resultList) != 0:
        resultList.pop()
    elif i != '=':
        resultList.append(i)
    pass
print(''.join(resultList))

In [11]:
s = ['a', 'b']
print(''.join(s))

ab

In [18]:
print(*sorted(set(list(it for i,it in enumerate(map(int,input().split())) if ((i+1) % 6 == 0 and it % 6 == 0)))))

In [22]:
list1 = [8, 3, 5, 1]
print(*sorted(list1))

1 3 5 8

In [25]:
print(*sorted(list1), sep= '-')

1-3-5-8