**Review from Quera**

In [2]:
my_list = [1] * 5
my_list

[1, 1, 1, 1, 1]

In [3]:
my_list = [10, 20, 30]
my_list[:]

[10, 20, 30]

In [6]:
my_list[0:2]

[10, 20]

In [7]:
my_list[1:0]

[]

In [8]:
num = [10, 20, 30]
num[1] = 0
num

[10, 0, 30]

In [9]:
num[1:3] = [1, 2]
num

[10, 1, 2]

In [10]:
s = 'salam'
list(s)

['s', 'a', 'l', 'a', 'm']

In [12]:
list1 = [10]
list1.append(12)
list1.append(13)
list1

[10, 12, 13]

In [13]:
list1.extend([14, 15, 16])
list1

[10, 12, 13, 14, 15, 16]

In [14]:
list1.insert(1,0)
list1

[10, 0, 12, 13, 14, 15, 16]

In [16]:
l = [1, 2, 3]
l.remove(1)
l

[2, 3]

In [18]:
l = [1, 2, 3, 4, 1]
l.remove(1)    # delete only first 1
l

[2, 3, 4, 1]

In [ ]:
l.remove(12)   # error, 12 not in list l

In [23]:
l = [10, 20, 30, 40]
l.pop()
l
l.pop(1)

20

In [24]:
l.clear()
l

[]

In [26]:
myList = ["amir", "ali", "amir", "ali"]
myList.index('ali')

1

In [ ]:
myList.index('ali', 0, 2) # from 0 to 2, search ali

In [27]:
myList = ["amir", "ali", "amir", "ali"]
myList.count('ali')

2

**sorting**

In [29]:
companies = ['apple', 'samsung', 'xiaomi', 'sony', 'nokia']
companies.sort()
companies

['apple', 'nokia', 'samsung', 'sony', 'xiaomi']

In [44]:
nums = [1, 2, 3, 4]
nums.reverse()
nums

[4, 3, 2, 1]

**join func**

In [34]:
names = ['Alla', 'Taghikhan', 'Moghtaderi']
ch = ' '
ch.join(names)

'Alla Taghikhan Moghtaderi'

In [35]:
names.copy()

['Alla', 'Taghikhan', 'Moghtaderi']

**Queiz: chap bar aks**

In [ ]:
numbers = []
num = int(input())
while num != 0:
    numbers.append(num)
    num = int(input())
numbers.reverse()
for i in numbers:
    print (i)

**Queue and stack**

**diffrent between append and extend method on lists**

In [8]:
a = [1, 2, 3, 4]
b = [5, 6, 7]
a.extend(b)    
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [9]:
a = [1, 2, 3, 4]
b = [5, 6, 7]
a.append(b)    
print(a)

[1, 2, 3, 4, [5, 6, 7]]

**non,NaN, not a number means.**

In [10]:
a = [2.6, float('nan')]
a

[2.6, nan]

In [11]:
# Import math Library
import math 

# Print the value of nan
print (math.nan)

nan

In [14]:
l = [1, 2, 3]
isinstance(l,list)

True

In [18]:
s = 'Python3'
s.isalnum()

True