**Review of set in Quera:**

In [11]:
s = {1,  2, 3, 4}
type(s)

set

In [2]:
s = set()
type(s)

set

compare to dict:

In [13]:
s = dict()
type(s)

dict

In [9]:
s = {}
type(s)

dict

**add**

In [5]:
a = set()
a.add('ali')
a.add('asra')
a.add('ashkan')
print(a)
if 'ali' in a:
    print('yes')
else:
    print('not exist')

{'ali', 'ashkan', 'asra'}
yes

**remove or discard function**

In [6]:
a = {'Ava', 'ashkan', 'asra'}
a.remove('Ava')
a

{'ashkan', 'asra'}

In [ ]:
a.remove('Amir')  ## error

In [8]:
a.discard("amir")  # no error if not exist

In [10]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.intersection(set2)   # &

{3}

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 & set2      # intersection

{3}

In [3]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)    # |, also notice **unsupported operand + for set:**

{1, 2, 3, 4, 5}

In [6]:
A = {2, 3, 5}
B = {1, 3, 5}

# Compute the union between A and B using the | operator
print('A U B =', A | B)

A U B = {1, 2, 3, 5}

In [10]:
A = {2, 3, 5}
B = {1, 3, 5}
A - B        # or use: difference

{2}

In [14]:
A = {2, 3, 5}
B = {1, 3, 5}
B.difference(A)

{1}

In [15]:
A = {2, 3, 5}
B = {1, 3, 5}
A.difference(B)

{2}

**unsupported operand + for set:**

In [ ]:
A = {2, 3, 5}
B = {1, 3, 5}
A + B       # error

In [19]:
#A|B - A&B
A.symmetric_difference(B)

{1, 2}

In [24]:
a = set('salam')        # {'a', 'l', 'm', 's'}
b = set('balam')
c = set(x for x in a if x not in b)
c

{'s'}